-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
numpy==1.26.4
matplotlib==3.9.0
tqdm
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0
jax==0.4.14
jaxlib==0.4.14+cuda12.cudnn89
flax==0.7.0
optax==0.1.7
transformers==4.41.0
datasets
mlxu>=0.1.13
einops
ml_collections
scipy==1.12.0